<div class="row">
    <div class="col-xs-12 main-container">
        <div>
            <h2 class="page-header text-center">Create Contact</h2>
            <form class="form-horizontal contract-form" name="form" ng-submit="vm.addContact()" novalidate>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Full name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control contact-name-input" name="fullname" class="form-control" ng-model="vm.user.name" required>
                        <span ng-show="form.fullname.$dirty && form.fullname.$error.required" class="help-block">Full name is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email address:</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control contact-email-input" name="email" class="form-control" ng-model="vm.user.email" required>
                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Telephone number:</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control contact-tel-input" name="tellno" class="form-control" ng-model="vm.user.tel" required>
                        <span ng-show="form.tellno.$dirty && form.tellno.$error.required" class="help-block">Telephone no is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-3">
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-outline btn-lg btn-block">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <a ng-href="/" class="btn btn-outline btn-lg btn-block">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
